@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --black: #09090c;
  --grey: #a4b2bc;
  --white: #fff;
  --background: #89abf55e;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

